services:
#    liz_wei_xin.example:
#        class: Liz\WeiXinBundle\Example
#        arguments: ["@service_id", "plain_value", "%parameter%"]

    liz_wx.service.base:
        class: Liz\WeiXinBundle\Services\BaseService
        arguments: ["token", "app_id", "app_secret", '@kernel' , '@request_stack', '@translator']

    liz_wx.service.menu:
        class: Liz\WeiXinBundle\Services\MenuService
        arguments: ['@liz_wx.service.base', '@kernel' , '@request_stack', '@translator']

    liz_wx.service.message:
        class: Liz\WeiXinBundle\Services\MessageService
        arguments: ['@liz_wx.service.base', '@kernel' , '@request_stack', '@translator', '@twig']

    liz_wx.service.media:
        class: Liz\WeiXinBundle\Services\MediaService
        arguments: ['@liz_wx.service.base', '@kernel', '@request_stack', '@translator', 'local_dir']